/* Styles for Delivery User Interface */

.deliveryCanvas {
    margin: 0;
    padding: 0;
    height: 400px;
}

.deliveryContainer {
    width: 100%;
    margin-bottom: 2rem;
}

.findLocationBtn {
    margin-top: 2rem;
}

.locationButtonWrapper {
    height: 50px;
    margin-top: 2rem;
    overflow: hidden; /* Added for potential floating child elements */
}

.coordLat, .coordLong {
    display: none;
}
